/*
body {
  background-color: whitesmoke;
}

.wrapper {
  margin: 20em auto 2em auto;
  width: 80%;
  position: relative;
}

.robot {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.04,.86,.84,.32);
  animation-iteration-count: 4;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes slide {
  0% { transform: translate(500px, -200px); }
  25% { transform: translate(600px, 0); }
  50% { transform: translate(500px, 200px); }
  75% { transform: translate(400px, 0); }
  100% { transform: translate(500px, -200px); }
}

.wrap {
  width: 200px;
  margin: auto;
  z-index: 1;
}

.text {
  color: red;
  text-align: center;
  font-size: 1.5em;
  width: 200px;
  position: absolute;
  margin: 85px 0 0 2px;
  pointer-events: none;
}

.gear {
  width: 200px;
  height: 200px;
  position: absolute;
  background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-transparent-glass-icons-business/076035-3d-transparent-glass-icon-business-gear2.png") top center no-repeat;
  background-size: cover;
  animation: spin 10s linear infinite;
  animation-play-state: paused;
}

.gear:hover {
  animation-play-state: running;
}

@keyframes spin {
  100% { transform: rotate(1turn); }
}

div.animation-3d {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
  perspective: 800px;
  font-size: 5rem;
}

.animation-3d span {
  display: inline-block;
  color: #77c6bc;
  transform-origin: 50% 70%;
}

.animation-3d span:nth-child(1) {
  color: red;
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both;
}

.animation-3d span:nth-child(2) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.1s both;
}
.animation-3d span:nth-child(3) {
  color: pink;
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.2s both;
}

@keyframes flipUp {
  from { transform: rotateX(90deg); }
  to { transform: rotateX(0deg); }
}

.sprite {
  width: 435px;
  height: 267px;
  margin: 10em auto;
  background:  url('http://bennet.org/images/codepen/ryu-sprite-demo.png') no-repeat 0 0%;
  animation: sprite 3.5s steps(45) infinite;
}

@keyframes sprite {
  from { background-position: 0 0%; }
  to { background-position: 0 100%; }
}

*/

html {
  box-sizing: border-box;
  font-family: "Nothing You Could Do";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2vmin 3vmin;
	color: #999;
}
.card-container {
  position: relative;
  width: 65vmin;
  height: 80vmin;
}

.card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: floralwhite;
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(#111, .35);
	transition: transform .35s ease-out;
	transform: translate(var(--x), var(--y)) scale(.35) rotate(var(--angle));
	will-change: transform;
}

.card:hover {
  transform: scale(1) rotate(0deg);
  z-index: 1;
}

.card:hover:before {
  opacity: 1
}

.card:before {
	content: "";
	display: block;
	width: 90%;
	height: 80%;
	margin: 5%;
	background: var(--image) center center no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 5px rgba(#222, .35);
	border-radius: 2px;
	filter: sepia(.2) brightness(.9) contrast(1.2);
	transition: opacity .35s ease-out;
	opacity: .5;
	will-change: opacity;
}

.card:after {
	display: block;
	content: var(--caption);
	font-weight: 500;
	color: #555;
	font-size: 3vmin;
	opacity: .75;
	text-align: center;
}